<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>{{greetings}}</h4>
    <h1>Jija Templating</h1>

    <h2>{{project_name}}</h2>

    <a href="{% url 'blog:homepage' %}">Home</a>


    {% if is_user_logged_in %}

    <ul>
        {% for item in fruit_list %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>

    {% else %}

        <p>Please log in.</p>

    {% endif %}

</body>
</html>